* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: "iosevka nerd font";
  font-weight: 500;
  font-size: 14px;
  padding: 0;
}

window#waybar {
  background: #202020;
  border: 2px solid #504945;
}

#window {
  padding-left: 50px;
}

tooltip {
  background-color: #202020;
  border: 2px solid #5a524c;
}

#clock,
#tray,
#cpu,
#memory,
#battery,
#network,
#pulseaudio {
  margin: 6px 6px 6px 0px;
  padding: 2px 8px;
}

#workspaces {
  background-color: #2a2827;
  margin: 6px 0px 6px 6px;
  border: 2px solid #504945;
}

#workspaces button {
  all: initial;
  min-width: 0;
  box-shadow: inset 0 -3px transparent;
  padding: 2px 4px;
  color: #bdae93;
}

#workspaces button.focused {
  color: #ddc7a1;
}

#workspaces button.urgent {
  background-color: #e78a4e;
}

#clock {
  background-color: #2a2827;
  border: 2px solid #504945;
  color: #ddc7a1;
}

#tray {
  background-color: #2a2827;
  border: 2px solid #504945;
}

#battery {
  background-color: #a9b665;
  border: 2px solid #504945;
  color: #504945;
}

#cpu,
#memory,
#network,
#pulseaudio {
  background-color: #2a2827;
  border: 2px solid #504945;
  color: #ddc7a1;
}

#cpu.critical,
#memory.critical {
  background-color: #2a2827;
  border: 2px solid #504945;
  color: #ea6962;
}

#battery.warning,
#battery.critical,
#battery.urgent {
  background-color: #2a2827;
  border: 2px solid #504945;
  color: #ea6962;
}

/* ~ Highlight Active Workspace */
#workspaces button.active {
  border-bottom: 0.5px solid #d8a657;
  box-shadow: 0 0 0 0.5px #d8a657;
  color: #d8a657;
}

#submap {
  background: rgba(32, 32, 32, 0.95);
  color: #a9b665;
  font-style: italic;
  padding: 0 20px;
}
